<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bibliioteca</title>
</head>
<body>
	<h1>Adicionar Empréstimo</h1>
	<form action="/emprestimos" method="post">
		<div>
			<label>Aluno: </label> <input type="text" name="aluno">
		</div>
		<div>
			<label>Livro: </label> <input type="text" name="livro">
		</div>
		<div>
			<label>Data da realização do Empréstimo: </label> <input type="text" name="dataEmprestimo">
		</div>
		<div>
			<label>Data Prevista para a entrega: </label> <input type="text" name="dataEntrega">
		</div>
		<div>
			<button type="submit">Salvar</button>
			<button type="reset">Limpar</button>
		</div>
	</form>
	
</body>
</html>