<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav th:fragment="menu" style="background-color: #228B22">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Sistema de Biblioteca</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/emprestimos/form">Realizar Empréstimo</a></li>
                <li><a href="/">Adicionar Aluno</a></li>
                <li><a href="/">Adicionar Livro</a></li>
            </ul>
        </div>
    </div>
</nav>
  </nav>
</body>
</html>