<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Bibliioteca</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<h1>Detalhes do Aluno(a)</h1>

	 	<div class="row">
    		<div class="col s12">
      			<div class="card blue-grey darken-1">
        			<div class="card-content white-text">
          				<span class="card-title">Aluno(a)</span>
          				<p><strong>Id: </strong><span th:text="${aluno.id}">1</span></p>
          				<p><strong>Matrícula: </strong><span th:text="${aluno.matricula}">20201204010004</span></p>
          				<p><strong>Nome: </strong><span th:text="${aluno.nome}">Maria</span></p>
          				<p><strong>CPF: </strong><span th:text="${aluno.cpf}">70642570418</span></p>
          				<p><strong>Data de Nascimento: </strong><span th:text="${aluno.dataNascimento}">19/03/2005</span></p>
          				<p><strong>Endereço: </strong><span th:text="${aluno.endereco}">Rua Flor de Cactos</span></p>
        			</div>
      			</div>
    		</div>
  		</div>

	</div>

</body>
</html>

