<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Bibliioteca</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	
	<div class="container">
		
		<h1>Lista de Empréstimos</h1>
	 
		<table>
			
			<thead>
				<tr>
					<th>Id</th>
					<th>Aluno</th>
					<th>Livro</th>
					<th>Data do Empréstimo</th>
					<th>Data para a Entrega</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${emprestimos}">
					<td th:text="${e.id}">1</td>
					<td><a th:href="@{/emprestimos/{id}(id=${e.id})}"><span th:text="${e.aluno}">Maria</span></a></td>
					<td th:text="${e.livro}">Diário de um banana</td>
					<td th:text="${e.dataEmprestimo}">20/10/2023</td>
					<td th:text="${e.dataEntrega}">10/11/2023</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
</body>
</html>