<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://img.icons8.com/flat-round/32/000000/book.png">
<title>Bibliioteca</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	
	<div class="container">
		
		<h1>Listagem de Alunos</h1>
	 
		<table class="highlight">
			
			<thead>
				<tr>
					<th>Id</th>
					<th>Matrícula</th>
					<th>Nome</th>
					<th>CPF</th>
					<th>Data de Nascimento</th>
					<th>Endereço</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${alunos}">
					<td th:text="${a.id}">1</td>
					<td><a th:href="@{/alunos/{id}(id=${a.id})}"><span th:text="${a.matricula}">20201204010004</span></a></td>
					<td th:text="${a.nome}">Maria</td>
					<td th:text="${a.cpf}">70642570418</td>
					<td th:text="${a.dataNascimento}">19/03/2005</td>
					<td th:text="${a.endereco}">Rua Flor de Cactos</td>
					<td>
						<a th:href="@{/alunos/{id}/selecionar(id=${a.id})}"><i class="material-icons">edit</i></a>
						<a th:href="@{/alunos/{id}/deletar(id=${a.id})}"><i class="material-icons">delete</i></a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
</body>
</html>